@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4c4c4c;
  border-radius: 3px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 226px;
  height: 226px;
  border-radius: 50%;
  background-color: #242424;
  border: 7px solid #3a3a3a;
}
.center .point-1 {
  position: absolute;
  top: 1%;
  left: 50%;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
}
.center .point-2 {
  position: absolute;
  top: 99%;
  left: 50%;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
}
.center .point-3 {
  position: absolute;
  top: 50%;
  left: 1%;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
}
.center .point-4 {
  position: absolute;
  top: 50%;
  left: 99%;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
}

.point-set-1 {
  position: absolute;
  width: 188px;
  height: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(0deg);
}

.point-set-2 {
  position: absolute;
  width: 188px;
  height: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(6deg);
}

.point-set-3 {
  position: absolute;
  width: 188px;
  height: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(12deg);
}

.point-set-4 {
  position: absolute;
  width: 188px;
  height: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(18deg);
}

.point-set-5 {
  position: absolute;
  width: 188px;
  height: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(24deg);
}

.point-set-6 {
  position: absolute;
  width: 188px;
  height: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(30deg);
}

.point-set-7 {
  position: absolute;
  width: 188px;
  height: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(36deg);
}

.point-set-8 {
  position: absolute;
  width: 188px;
  height: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(42deg);
}

.point-set-9 {
  position: absolute;
  width: 188px;
  height: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(48deg);
}

.point-set-10 {
  position: absolute;
  width: 188px;
  height: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(54deg);
}

.point-set-11 {
  position: absolute;
  width: 188px;
  height: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(60deg);
}

.point-set-12 {
  position: absolute;
  width: 188px;
  height: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(66deg);
}

.point-set-13 {
  position: absolute;
  width: 188px;
  height: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(72deg);
}

.point-set-14 {
  position: absolute;
  width: 188px;
  height: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(78deg);
}

.point-set-15 {
  position: absolute;
  width: 188px;
  height: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(84deg);
}

.spinner circle {
  stroke: #f85b5b;
  stroke-width: 3;
  fill: none;
  stroke-dasharray: 625;
  animation: spinner 5s linear infinite;
  transform-origin: center center;
  transform: rotate(-90deg);
}

.watch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 12px;
}
.watch__item {
  display: flex;
  justify-content: space-between;
}
.watch__date {
  text-transform: uppercase;
}
.watch__time {
  font-size: 40px;
  line-height: 1;
  font-weight: 600;
}
.watch__heartbeat {
  margin-left: 20px;
}
.watch__heartbeat .fa {
  position: absolute;
  top: 55px;
  left: 5px;
  font-size: 10px;
  margin-right: 4px;
  animation: beat 0.9s ease-in-out infinite;
  color: #f85b5b;
}
@keyframes spinner {
  0% {
    stroke-dashoffset: 625;
    transform: rotate(-90deg) scaleY(1);
  }
  50% {
    stroke-dashoffset: 0;
    transform: rotate(-90deg) scaleY(1);
  }
  50.001% {
    transform: rotate(-90deg) scaleY(-1);
  }
  100% {
    stroke-dashoffset: 625;
    transform: rotate(-90deg) scaleY(-1);
  }
}
@keyframes beat {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.2);
  }
} /*# sourceMappingURL=style.css.map */
